h1 {
  margin-top: 10px;
  font-family: "PressStart2P";
  font-size: 18px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  padding-bottom: 20px;
  color: var(--color-grey);
}

.buttons .button {
  margin: 20px;
}

.po-container{
  box-shadow: none;
}
.po-container {
  * {
    grid-template-columns: 20px;
  }
  
}
.pokemon-card {
  width: 220px !important;

}

.pokemon-titulo{
text-align: center;
padding-top: 20px;
}



